---
layout: setup.liquid
---
{{content}}
<div class=" text-center mt-40 bg-gray-200 poppins-regular text-base h-10 flex w-full items-center content-center justify-center"><p class="">This page and all materials pertaining to the Mini Language linked herein are under licensed under CC BY-SA 4.0 unless <a href="licensing">otherwise noted</a></p></div>