---
layout: footer.liquid
---
<div class=" text-left items-start fixed w-full">
<ul class="bg-white py-3">
    <li class="inline px-2 ps-4 tracking-tight montserrat-semibold align-middle"><a href="/"> <img src="https://minilanguage.com/mini-logo.svg" alt="Home" class="inline size-9 align-middle"></a></li>
    <li class="inline px-2 tracking-tight montserrat-semibold align-middle"><a href="google.com"> About Mini </a></li>
    <li class="inline px-2 tracking-tight montserrat-semibold align-middle"><a href="/learn"> Learn Mini </a></li>
    <li class="inline px-2 tracking-tight montserrat-semibold align-middle"><a href="https://jprogr.github.io/buku-name"> Dictionary </a></li>
    <li class="inline px-2 tracking-tight montserrat-semibold align-middle"><a href="/translations"> Translations </a></li>
    <li class="inline px-2 tracking-tight montserrat-semibold align-middle"><a href="https://minilang.fandom.com/wiki/Mini_Wiki"> Wiki </a></li>

    <li class="inline px-2 pe-4 align-middle float-right "> <a href="https://discord.gg/ajA6Z4VrkJ"><i class="bi bi-discord text-2xl align-middle"></i></a></li>
    <li class="inline px-2 align-middle float-right "> <a href="https://www.reddit.com/r/MiniLang/"><i class="bi bi-reddit text-2xl align-middle"></i></a></li>
</ul>
<hr class="border-0 bg-gray-400" style="height: 0.5px;">
</div>

{{content}}