@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.montserrat-semibold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.poppins-lightitalic {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}