---
permalink: "/"
layout: navbar.liquid
title: "The Minimal, International Language"
---
<div class="w-screen h-screen">
    <img src="https://minilanguage.com/mini-logo.svg" alt="Home" class="inline align-middle" style="width: 15rem; height: 15rem; margin-top: 7%">
    <h1 class="poppins-bold text-5xl">The Minimal, International Language</h1>
    <h1 class="poppins-italic text-5xl">Mini, Ale-mundo Linga</h1>
    <div class=" mt-16 text-xl text-gray-400"><i class="bi bi-chevron-double-down inline text-3xl align-middle"></i> <p class="inline align-middle poppins-regular">Scroll Down</p> <i class="bi bi-chevron-double-down inline text-3xl align-middle"></i></div>
</div>

<div class="w-screen">
    <p>Some text so that we can scroll</p>
</div>
